/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

$life-style-brown: #4e443e;
$life-style-orange: #f76108;
$life-style-grey: #8a8682;

body {
  font-family: sans-serif;
}

.navbar .navbar-brand {
  color: $life-style-brown;
  font-weight: bold;

  &::after {
    content: "";
    width: 12.5px;
    height: 12.5px;
    background-color: $life-style-orange;
    display: inline-block;
    border-radius: 50%;
    margin-left: 3px;
  }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: $life-style-orange;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
  color: $life-style-grey;
  &:hover {
    color: $life-style-brown;
  }
}
